body
{
	background-color: rgb(68, 74, 77);
	font: 700 1.125rem/1.625rem "Montserrat", sans-serif;
	color: rgb(223, 211, 211);
}

h2
{
	text-align: center;
}

/* containers */
.container
{
	width: 70%;
	padding-left: 15%;
	padding-bottom: 50px;
}

.presentation h1
{
	text-align: center;
}

#projects .item {
	position: relative;
	overflow: hidden;
	width: 30%;
	background-color: #000;
}

#projects .impair
{
	float: right;
}

#projects .item img {
	max-width: 100%;
	margin: 0;
	margin-bottom: -5px;
	transition:all 0.2s;
	position: relative;
	display: inline-block;
}

#projects .item:hover img {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
	transition:all 1s;
}

#projects .item .dynamic {	
	position: absolute;
	top: 0;
	left: 0;
	z-index:-1;
}

#projects .item:hover .dynamic {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
	display: inline;
	z-index:1;
}

#projects .item .item-overlay { 
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 1;
	text-align: center;
	transition: all 0.3s;
}

#projects .item .item-overlay span { 
	position: absolute;
	z-index: 3;
	top: 42%;
	right: 0;
	left: 0;
	color: #fff;
}

/* Projects */
.title
{
	text-align: center;
	font-weight: 100;
}

ul li
{
	background-color: rgb(29, 32, 33);
}

ul #impair
{
	background-color: #202324;
}

.project-description
{
	display: none;
}

@media (min-width: 768px) {
	
	#projects .element-item { 
		width: 25%; 
	}
	
	#projects .element-item .element-item-overlay { 
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	#projects .element-item:hover .element-item-overlay {
		opacity: 1;
	}
}